@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Chapeau_Project.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h4>Login - Chapeau</h4>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="Login" method="post">
    <div class="form-group py-2">
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeId" class="form-control" required value="@Model?.EmployeeId" />
    </div>

    <div class="form-group py-2">
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>